*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url(./Image/body.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 156%;
}

nav{
  width: 100%;
  height: 40px;
  text-align: center;
}

.image{
  width: 68px;
  height: 56px;
  background: url(./Image/logo.png);
  position: absolute;
  margin: 4px 0px 0px 156px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}

ul li{
  margin: 10px auto;
  padding: 10px;
  color: black;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.shop{
  width: 68px;
  height: 56px;
  background: url(./Image/shopping-cart.svg);
  position: absolute;
  margin: 4px 0px 0px 1055px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}